@model List<Specializare> 

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Lista Specializari</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
        <div class="col-6">
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Specializare" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i>
            Adauga o specializare</a>
        </div>
        </div>
    
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Nume Specializare
                    </th>    
                    <th>
                        Numar Doctori
                    </th>
                    <th>
                        Actiuni
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Specializare specializare in Model.OrderBy(cat => cat.SpecializareID)) {
                <tr>
                    <td>
                        @specializare.Nume  
                    </td>
                    <td>    
                        @specializare.NumarMedici
                    </td>
                    <td>    
                        <div class="d-flex justify-content-center">
                            <div class="w-75 btn-group d-flex justify-content-center">
                                <a asp-controller="Specializare" asp-action="Edit" asp-route-id="@specializare.SpecializareID" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Modifica
                                </a>
                                <a asp-controller="Specializare" asp-action="Delete" asp-route-id="@specializare.SpecializareID" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Sterge
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
