@model List<Medicamente>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Lista Medicamente</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-12 col-md-6">
                <!-- Empty column to create space on larger screens -->
            </div>
            <div class="col-12 col-md-6 text-end">
                <a asp-controller="Medicament" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>
                    Adauga un Medicament
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table id="tblData" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th> Denumire </th>
                        <th style="width: 300px;"> Actiuni </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Medicamente medicament in Model.OrderBy(cat => cat.MedicamentID))
                    {
                        <tr>
                            <td> @medicament.Denumire </td>
                            <td style="width: 200px;">
                                <div class="d-flex justify-content-center">
                                    <div class="w-75 btn-group">
                                        <a asp-controller="Medicament" asp-action="Upsert" asp-route-id="@medicament.MedicamentID" class="btn btn-primary mx-2">
                                            <i class="bi bi-pencil-square"></i> Modifica
                                        </a>
                                        <a asp-controller="Medicament" asp-action="Delete" asp-route-id="@medicament.MedicamentID" class="btn btn-danger mx-2">
                                            <i class="bi bi-trash-fill"></i> Sterge
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>